.ParentDiv{
    position: relative;
    padding: 50px 0px!important;
}

.background{
    position: absolute; /* Position the background image absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../app/Assets/Imges/16359108_v904-nunny-026 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6; /* Apply opacity to the background image only */
    z-index: -1; /* Make sure it stays behind the content */
    padding: 50px 0px!important;
}